html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  canvas {
      position: absolute;
      width: 50%;
      left: 50%;
      top: 100px;
      transform: translate(-50%);

    display: block;
  }

  .sideNav{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(31, 31, 31);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.navText {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: RobotoFamily;
    color: rgb(179, 179, 179);
    display: block;
    transition: 0.3s;
}

.navClose {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: RobotoFamily;
    color: rgb(179, 179, 179);
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: rgb(255, 255, 255);
}

.sideNav .navClose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navOpenText {
    font-size: 30px;
    font-family: RobotoFamily;
    color: rgb(56, 56, 56);
}

.navOpen {
    font-size: 30px;
    text-decoration: none;
    color: rgb(56, 56, 56);
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    transition: 0.3s;
}

.TopBarDiv {
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 100%;
    background-color: rgb(185, 185, 185);
}

.MainPageLink {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 35%;
    right: 38%;
    font-size: 50px;
    text-decoration: none;
    font-family: RobotoFamily;
    color: rgb(56, 56, 56);
}

.navOpen:hover {
    color:rgb(126, 126, 126);
}

  
.bottomLinks {
    margin-top: 100%;
    padding: 100px;
    position: relative;
    text-align: center;
    background-color: rgb(31, 31, 31);
}

.bottomLinks a {
    margin: 50px;
    font-size: 20px;
    font-family: RobotoFamily;
    text-decoration: none;
    color: rgb(179, 179, 179);
    transition: 0.3s;
}

.bottomLinks a:hover {
    color: rgb(255, 255, 255);
}


/* animations */


/* fonts */
@font-face {
    font-family: RobotoFamily;
    src: url(../fonts/Roboto-Thin.ttf);
}
